<div class = "container">
  <div class = "row">
    
  </div>
  <div class = "row">
    <div class = "col -6">

    <form id="newLego" class="button-size">
      <textarea type="text" name="creation" id="object"></textarea>
      <button type="submit" id="submit">submit</button>
    </form>

 

      <!-- List all non-built lego objects entered -->
      <style media="screen">
        li {
          height : 40px;
          width: 100px;
          color: green;
          background-color: yellow;
          margin-bottom: 30px;
        }
      </style>

      <h2>Projects to be built:</h2>

      <ul>
      {{#each legoData }}
        <li> {{this.object}},
 
      <button type="submit" id="build" value="Build"></button>,
        </li>
      {{/each}}
      </ul>
      
    </div>  <!-- end of first column (left side) -->

    <div class = "col-6">

      <h2>Completed projects: </h2>
      
         <ul>
      {{#each doneArray }}
        <li> {{this.object}},
          
      {{!-- <button type="submit" id="break" value="Disassemble"></button>, --}}
        </li>
      {{/each}}
      </ul>
    </div>
   
  </div>  <!--end of 'row' div that defines the body -->

</div>    <!--end of container div -->
   <script>

      var currentUrl = window.location.origin;

    $("#newLego").on("submit", function(event) {
      event.preventDefault();


      // Here we grab the form elements
      var newLego = {
        object: $("#object").val().trim(),
        built: false            //default when first entered
      };

      console.log(newLego);


      $.post(currentUrl+ "/legos", newLego,
        function(data) {

         // let them know the entry was received

          if (data) {
            alert("The blocks are ready for your new project..");
          }

          window.location.reload();

          // Clear the form when submitting
          $("#object").val("");
              doneArray.push({{this.object}});
              
        });

    });


  $("#build").on("click",function(){

  });
    </script>