<div class = "container">
  <div class = "row">
    
  </div>
  <div class = "row">
    <div class = "col -6">
<br><br>
    <form id="newLego" class="button-size">
      <textarea type="text" name="creation" id="object"></textarea>
      <button type="submit" id="submit">submit</button>
    </form>

 

      <!-- List all non-built lego objects entered -->
      <style media="screen">
        li {
          height : 40px;
          width: 100px;
          color: green;
          background-color: yellow;
          margin-bottom: 30px;
        }
      </style>

      <h2>Projects to be built:</h2>

      <ul>
      {{#each legoData}}
       {{#unless this.built}}
        <li> {{this.object}},
 
        <button type="submit" id="build" value="Build"></button>,
        </li>
        {{/unless}}
      {{/each}}
      </ul>
      
    </div>  <!-- end of first column (left side) -->
<br><br><br><br>
    <div class = "col-6">

      <h2>Completed projects: </h2>
      
      <ul>
      {{#each legoData }}
       {{#if this.built}}
        <li> {{this.object}},  
          <button type="submit" id="break" value="Disassemble"></button>,
        </li>
        {{/if}}
      {{/each}}
      </ul>
    </div>
   
  </div>  <!--end of 'row' div that defines the body -->

</div>    <!--end of container div -->
   <script>

      var currentUrl = window.location.origin;

    $("#newLego").on("submit", function(event) {
      event.preventDefault();


      // Here we grab the form elements
      var newLego = {
        object: $("#object").val().trim(),
        built: false            //default when first entered
      };

      console.log(newLego);


      $.post(currentUrl+ "/legos", newLego,
        function(data) {

         // let them know the entry was received

          if (data) {
            alert("The blocks are ready for your new project..");
          }

          window.location.reload();

          // Clear the form when submitting
          $("#object").val("");

              
        });

    });


  $("#build").on("click",function(){

    // set the 'built' property to 'true' so the object can move to the right
    //of the screen when sorted

     this.built = true;
     $.post(currentUrl + "/legos")
      console.log(legoData);
     //no new data to post, but the modified data should change
     //the location of the variable

  });
    </script>