<div class = "container">
  <div class = "row">
    <header>Lego Creator</header>
  </div>
  <div class = "row">
    <div class = "col -6">


      <form action="/action">
        <input type="text" name="creation" id="object" value="">
        <input type="submit" id = "submit" value="submit">
      </form>

 

      <!-- List all non-built lego objects entered -->
      <style media="screen">
        li {
          height : 40px;
          width: 100px;
          color: green;
          background-color: yellow;
          margin-bottom: 30px;
        }
      </style>

      <h2>Projects to be built:</h2>

      <ul>
      {{#each dataArray }}
        <li> {{object}},
      {{built}},
      <input type="submit" id="build" value="Build">,
        </li>
      {{/each}}
      </ul>
      
    </div>  <!-- end of first column (left side) -->

    <div class = "col-6">

      <h2>Completed projects: </h2>
      
         <ul>
      {{#each doneArray }}
        <li> {{object}},
          {{built}}
      <input type="submit" id="build" value="Disassemble">,
        </li>
      {{/each}}
      </ul>
    </div>
   
  </div>  <!--end of 'row' div that defines the body -->

</div>    <!--end of container div -->